<!-- template-selection-dialog.component.html -->
<div class="dialog-container">
    <a class="close-btn" (click)="closeDialog()">X</a>
    <h2>Select a Template</h2>
    <div class="template-options">
      <!-- Template 1 -->
      <div class="template-card" (click)="selectTemplate('index')">
        <img src="../../../assets/img/template1.png" alt="Template 1 Preview" class="template-preview" />
        <p>Praktika 1</p>
      </div>
  
      <!-- Template 2 -->
      <div class="template-card" (click)="selectTemplate('index1')">
        <img src="../../../assets/img/template2.png" alt="Template 2 Preview" class="template-preview" />
        <p>Praktika 2</p>
      </div>
  
      <!-- Template 3 -->
      <div class="template-card" (click)="selectTemplate('index2')">
        <img src="../../../assets/img/template3.png" alt="Template 3 Preview" class="template-preview" />
        <p>Praktika 3</p>
      </div>
    </div>
  </div>