<h2>Ajouter une Interview</h2>

<form (ngSubmit)="addInterview()">
  <label>Date :</label>
  <input type="date" [(ngModel)]="newInterview.dateInterview" name="date" required />

  <label>Lieu :</label>
  <input type="text" [(ngModel)]="newInterview.location" name="location" required />

  <label>Notes :</label>
  <input type="text" [(ngModel)]="newInterview.notes" name="notes" required />

  <label>Statut :</label>
  <select [(ngModel)]="newInterview.status" name="status">
    <option value="SCHEDULED">SCHEDULED</option>
    <option value="COMPLETED">COMPLETED</option>
    <option value="CANCELED">CANCELED</option>
  </select>

  <button type="submit">Ajouter</button>
</form>

<hr>

<h2>Rechercher une Interview</h2>
<input type="text" [(ngModel)]="searchText" (input)="filterInterviews()" placeholder="Rechercher par date, lieu ou statut" />

<hr>

<h2>Liste des Interviews</h2>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Lieu</th>
      <th>Notes</th>
      <th>Statut</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let interview of filteredInterviews">
      <td>{{ interview.interviewId }}</td>
      <td>{{ interview.dateInterview | date }}</td>
      <td>{{ interview.location }}</td>
      <td>{{ interview.notes }}</td>
      <td>{{ interview.status }}</td>
      <td>
        <button (click)="editInterview(interview)"> Modifier</button>

        <button (click)="deleteInterview(interview.interviewId)"> Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>

<hr>

<div *ngIf="selectedInterview">
  <h2>Modifier Interview</h2>

  <form (ngSubmit)="updateInterview()">
    <label>Date :</label>
    <input type="date" [(ngModel)]="selectedInterview.dateInterview" name="date" required />

    <label>Lieu :</label>
    <input type="text" [(ngModel)]="selectedInterview.location" name="location" required />

    <label>Notes :</label>
    <input type="text" [(ngModel)]="selectedInterview.notes" name="notes" required />

    <label>Statut :</label>
    <select [(ngModel)]="selectedInterview.status" name="status">
      <option value="SCHEDULED">SCHEDULED</option>
      <option value="COMPLETED">COMPLETED</option>
      <option value="CANCELED">CANCELED</option>
    </select>

    <button type="submit">Mettre à jour</button>
    <button type="button" (click)="selectedInterview = null">Annuler</button>
  </form>
</div>
