<form [formGroup]="educationForm" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>Degree</mat-label>
      <input matInput formControlName="degree" required />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Institution</mat-label>
      <input matInput formControlName="schoolName" required />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Start Date</mat-label>
      <input matInput formControlName="startDate" type="date" required />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>End Date</mat-label>
      <input matInput formControlName="endDate" type="date" required />
    </mat-form-field>
  
    <div class="dialog-actions">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
  </form>