<!-- chat.component.html -->
<div class="chat-container">
  <!-- Panneau des utilisateurs à droite -->
  <div class="user-list">
    <div *ngFor="let user of users" (click)="selectReceiver(user.userId)">
      <div class="user">
        <div>{{ user.name }}</div>
        <div *ngIf="usersLastSeen[user.userId] === 'Online'" class="online-status">Online</div>
        <div *ngIf="usersLastSeen[user.userId] !== 'Online'" class="offline-status">
          Last seen: {{ usersLastSeen[user.userId] }}
        </div>
      </div>
    </div>
  </div>

  <!-- Fenêtre de discussion à gauche -->
  <div class="chat-box" *ngIf="receiverId">
    <div class="chat-header">
      <button class="close-btn" (click)="closeChat()">Close</button>
      <div>{{ receiverName }}</div>
    </div>

    <div class="messages">
      <div *ngFor="let msg of messages">
        <div [class]="msg.senderId === senderId ? 'sent' : 'received'">
          <p [innerHTML]="msg.content"></p>

        </div>
      </div>
       <!-- 🔹 Indicateur "Typing" -->
       <div class="typing-indicator" *ngIf="isTyping">
        ✍️ {{ typingUser }} est en train d'écrire...
      </div>
    </div>

    <div class="message-input">
       <!-- <input [(ngModel)]="content" placeholder="Type a message..." />
      <button (click)="send()">Send</button>  -->
      <input [(ngModel)]="content" placeholder="Type a message..." (keydown)="onTyping()" />
      <button (click)="send()">Send</button>
    </div>
  </div>
</div>
