<div class="container mt-5">
  <h1 class="text-center mb-4">Gérer le Dépôt de Documents</h1>

  <!-- Section de gestion du dépôt existant -->
  <div *ngIf="depots" class="card bg-light p-4 mt-4 rounded">
    <div class="card-body">
      <h5 class="card-title">Dépôt effectué le {{ depots.uploadDate | date }}</h5>
   
      
    </div>
    <button (click)="download(depots.idDepot)" class="btn btn-primary me-2">
  <i class="bi bi-download" ></i> Télécharger les documents
</button>
  </div>
  <br>
  <button routerLink="/DocumentBack" class="btn btn-primary me-2">
  <i class="bi bi-back"></i> Retour
</button>
</div>

