<div class="container">
    <!-- Warning Banner -->
    <div class="warning-banner">
      ⚠️ Keep the Profile up to date
    </div>

  
    <!-- Profile Header -->
    <div class="header">
      <div class="profile-picture">
        <img [src]="'./assets/'+studentData.logo" alt="Profile Picture" />
      </div>
      <div class="profile-info">
        <h1>
          {{ userData.name }}
          <span class="edit-icon" (click)="onUpdateProfile()">✎</span>
        </h1>
        <div class="contact-info">
          <p><strong>Email:</strong> {{ userData.email }}</p>
          <p><strong>Phone:</strong> {{ userData.phone }}</p>
          <p><strong>Field of study:</strong> {{ studentData.fieldOfStudy }}</p>
          <p><strong>Date of birth:</strong> {{ studentData.dateOfBirth | date:'mediumDate' }}</p>
          <p><strong>Address:</strong> {{ userData.address }}</p>
        </div>
      </div>
    </div>
  

  </div>