.requirements-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .requirement-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px; /* Taille ajustée pour le texte */
    height: 50px;
    border-radius: 25px; /* Forme ovale */
    background-color: white; /* Fond blanc */
    color: #008BDC;
    border: 1px solid #008BDC;
    cursor: pointer;
    text-align: center;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
      line-height: 1.57142857;
      font-weight: 400;
  }
  .selected-requirements-card {
    border: 1px solid #ccc; /* Bordure grise fine */
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    min-height: 50px; /* Taille minimale pour éviter les sauts */
    align-items: center;
  }
  
  .selected-req-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .selected-req {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: gray;
    font-size: 16px;
  }
  
  