<div class="card mx-auto my-5" style="max-width: 600px;">
  <div class="card-body">
    <h5 class="card-title text-center">{{ documentId ? 'Modifier un Document' : 'Ajouter un Document' }}</h5>
    <form [formGroup]="documentForm" (ngSubmit)="updateDocument()">
      <div class="form-group">
        <label>Société:</label>
        <input formControlName="societe" type="text" class="form-control" required>
        
      </div>

      <div class="form-group">
        <label>Type:</label>
        <select formControlName="type" class="form-control">
          <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Date de début:</label>
        <input formControlName="dateDebut" type="date" class="form-control" required>
      </div>

      <div class="form-group">
        <label>Date de fin:</label>
        <input formControlName="dateFin" type="date" class="form-control" required>
      </div>

      <div class="form-group">
        <label>Durée:</label>
        <select formControlName="duree" class="form-control">
          <option *ngFor="let duree of durees" [value]="duree">{{ duree }}</option>
        </select>
      </div>

    

      <button type="submit" class="btn btn-primary mt-3" [disabled]="documentForm.invalid">
        {{ documentId ? 'Mettre à jour' : 'Ajouter' }}
      </button>
    </form>
  </div>
</div>
